// BOOSTRAP COLOR
$primary: #67CDF8;
$secondary: #8f8f8f;
$success:#45E493;
$danger:#FF445F;
$warning: #ff9307;
$info:darken($primary,10%);
$light:#F4F6F9;
$dark:#212529;
$link:$dark;

//OTHERS COLORS
$white:#fff;
